@model Family.Controllers.HomeController

@{
    ViewBag.Title = "Home Page";
}

    <body style="        background-image: url(Content/Images/pexels-anni-roenkae-2457317.jpg)" ">

    </body>

<div class="jumbotron">
    <h2>On this site you can calculate the amount of your expenses and income in month.</h2>
</div>

<div class="row">
    <h3>Your amount of income and spending is indicated here.</h3>
    <h4></h4>
</div>